/* "Playfair Display", "Playwrite Cuba Guides", "Dancing Script",  */ 

* {
  * margin: 0px;
  * padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
.container {
 display: flex;
 width: 100%;
 height: 500vh;
 background: #574964;
}
.ask {
width: 50px;
height: 50px;
justify-content: center;
align: center;
color: #9F8383;
}

